---
import { Button } from "@components/button";
import { CloudOff, Moon } from "lucide-react"

---
<header class="flex justify-between items-center min-h-min max-h-min py-5 px-60 w-auto border-b border-woodsmoke-400">
  <Button variant="raw" size="icon">
    <CloudOff/>
  </Button>
  <div class="inline-flex items-center justify-start space-x-2">
    <Button variant="raw" size="icon">
      <Moon/>
    </Button>
  </div>
</header>