---
import Header from '@ui/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/global.css">
    <title>{ title }</title>
  </head>
  <body class="bg-woodsmoke-950 text-woodsmoke-50 font-poppins w-screen h-screen flex flex-col items-center justify-center">
    <Header/>
    <main class="relative grow w-auto flex flex-col items-center justify-center">
      <slot />
    </main>
  </body>
</html>